@font-face {
    font-family: 'myWebFont';
    src: url('fonts/graduate-regular-webfont.woff2') format('woff2'),
         url('fonts/graduate-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'myWebFont', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 60px;
}

.header {
    font-size: 35px;
}

.board_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

.boards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.placeShipsBoard,
.realPlayerBoard,
.computerBoard {
    display: grid;
    width: 400px;
    height: 400px;
    grid: repeat(10, 1fr) / repeat(10, 1fr);
    gap: 1px;
    background-color: black;
    border: 2px solid black;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.contain_ship {
    background-color: darkgrey;
}

.square_inactive {
    cursor: not-allowed;
}

.placeShip {
    background-color: rgb(77, 223, 96);
}

.dot {
    height: 14px;
    width: 14px;
    border-radius: 50%;
}

#turnShipBtn,
#startBtn {
    font-family: 'myWebFont', Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 24px;
    background-color: rgb(22, 105, 131);
    border: 2px solid black;
    cursor: pointer;
}

.modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.modal[open] {
    display: flex;
}

.modal-inner {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    max-width: 600px;
    padding: 2em;
    margin: auto;
}

#modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
    opacity: 0.5;
}

